* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffd9d4;
    color: #314e52;
}

header {
    background-color: #f4acb7;
    padding: 20px;
    text-align: center;
}

nav h1 {
    color: #000000;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.imgContainer {
    width: 50%;
}

.imgContainer img {
    width: 50%;
    height: auto;
}

footer {
    background-color: #f4acb7;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

model-viewer{
    height: 500px;
    width: 700px;
}

@media (max-width: 1000px) {
    main {
        flex-direction: column;
    }

    #cubo3D,
    .imgContainer {
        width: 100%;
    }
}
