body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: 'MS Sans Serif', Geneva, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #FFFFFF;
  color: #000000;
  border-bottom: 2px solid #808080;
  border-right: 2px solid #808080;
}

.barra-iconos {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background: transparent;
}

.barra-iconos:hover {
  transform: translateY(0);
}

.icono-container {
  display: flex;
  justify-content: flex-start;
  transform: translateX(-50%);
  transition: transform 0.3s ease;
  justify-content: flex-end;
  backdrop-filter: blur(5px);
}

.nombre-icono {
  color: #000;
}

.icono-container i {
  margin-right: 25px;
  font-size: 40px;
}

.icono-container .nombre-icono {
  margin-right: 15px;
}

.barra-iconos a:hover .icono-container {
  transform: translateX(0);
}

.barra-iconos a {
  color: #000000;
  text-decoration: none;
  display: block;
  overflow: hidden;
  margin-bottom: 0;
  
}

.seccion {
  width: 90%;
  height: 300px;
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
  background-color: #FFFFFF;
  border-bottom: 2px solid #808080;
  border-right: 2px solid #808080;
}

.mitad-seccion {
  width: 90%;
  height: 100%;
  background-color: #FFFFFF;
  border-bottom: 2px solid #808080;
  border-right: 2px solid #808080;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: #FFFFFF;
  color: #000000;
  border-top: 2px solid #808080;
  border-right: 2px solid #808080;
}

@media (max-width: 768px) {
  .seccion,
  .mitad-seccion {
    flex-direction: column;
    height: auto;
  }

  .mitad-seccion {
    border-right: none;
  }

  .seccion,
  .mitad-seccion {
    transition: all 0.5s ease;
  }
}
